<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./layouts/head") %>
        <script>
            alert('hola');
        </script>
</head>

<body class="fondo">
    <header>
        <div class="container d-flex justify-content-end p-5">
            <a href="/authentication/loginU" class="link-dark navbar-brand fs-3 h1">Iniciar Sesión</a>
        </div>
    </header>

    <div class="mx-auto" style="width: 50%;">
        <div class="row row-cols-2">
            <div class="col align-self-center col-lg-5">
                <img src="/images/logo1.png" alt="" style="width: 90%; height: 90%;">
            </div>
            <div class="col">
                <div class="col">
                    <p class="fw-bold h2" style="font-size: 5rem">WIPPO</p>
                </div>
                <div class="col">
                    <p class="h3 text-muted">MODERN SHOPPING</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form class="d-inline-flex form-inline">
                <a href="/users/principalUU" class="btn btn-outline-dark">Ver como invitado</a>
            </form>
        </div>

    </div>

    </nav>
</body>

</html>