a {
    color: #00B7FF;
}

.fondo {
    background-image: url(../images/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: aliceblue;
    height: 400px;
    margin-top: 20px;
}

.img-xs,
.img-sm,
.img-md,
.img-lg {
    -o-object-fit: cover;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
}

.size {
    font-size: 2rem;
}

.hero {
    background-image: url(../images/hero.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-color: aliceblue;
}


/* PRODUCT'S CARDS */

.products {
    border: 2px solid white;
    transition: border-color .3s ease-in-out;
}

.products:hover {
    border: 2px solid black;
}

[class*=card-product] .img-wrap {
    overflow: hidden;
    position: relative;
}

.card .img-wrap {
    overflow: hidden;
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
}

.img-wrap {
    text-align: center;
    display: block;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

[class*=card-product] .img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
}

.img-wrap img {
    max-width: 100%;
}


/* PRODUCT DETAILS */


/*DETALLES PRODUCTO*/

.gallery-wrap .img-big-wrap {
    margin-bottom: 10px;
    border-radius: 0.37rem;
    overflow: hidden;
    background-color: #fff;
}

.gallery-wrap .img-big-wrap a {
    text-align: center;
    display: block;
    padding: 1rem;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.gallery-wrap .thumbs-wrap img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.gallery-wrap .thumbs-wrap {
    text-align: center;
}

.gallery-wrap .thumbs-wrap .item-thumb {
    width: 90px;
    height: 95px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 3px;
    display: inline-block;
    overflow: hidden;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.border-right {
    border-right: 1px solid #e4e4e4 !important;
}

.content-body {
    flex: 1 1 auto;
    padding: 2rem 2.3rem;
}


/* SHOPPING CART */

.img-sm {
    width: auto;
    height: 100px;
}

.itemside {
    position: relative;
    display: flex;
    width: 100%;
}

.itemside .aside {
    position: relative;
    flex-shrink: 0;
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px;
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529;
}

.input-spinner {
    width: 125px;
    flex-wrap: nowrap;
    display: inline-flex;
    vertical-align: middle;
}

.price {
    font-weight: 600;
    color: #212529;
}


/* SHOPPING DETAILS*/

.wippo-radio {
    color: #fff;
    border-color: #1f1f1f !important;
    background-color: #ffff !important;
}

.wippo-radio:checked {
    color: #fff;
    border-color: #1f1f1f !important;
    background-color: #1f1f1f !important;
}