<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="sticky-top ">
        <%- include("../layouts/header1") %>
    </header>

    <%- include("../layouts/allProduct") %>

        <footer class="mt-auto">
            <%- include("../layouts/footer") %>
        </footer>
</body>

</html>