<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
</head>

<body style="background-color: black; color: white;">
    <div class="m-2 mt-4 mx-auto border-light" style="width: 40%;">
        <div class="card bg-dark">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <img src="/images/logo/white.noback.png" style="height: 200px;" class="img-fluid" alt="">
                </div>
                <div class="d-flex justify-content-center">
                    <h4 class="card-title mb-4">Iniciar Sesión: Colaboradores</h4>
                </div>

                <form>
                    <div class="form-group p-2">
                        <label>Correo electrónico</label>
                        <input name="" class="form-control" placeholder="ej. name@gmail.com" type="email">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group p-2">
                        <div class="d-flex justify-content-between">
                            <label>Contraseña</label>
                            <a class="card-link" href="./recoverC">¿Has olvidado la contraseña?</a>
                        </div>
                        <input class="form-control" placeholder="*********" type="password">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group p-1 d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-light">Iniciar sesión</button>
                    </div>
                    <!-- form-group// -->
                </form>
            </div>
            <!-- card-body.// -->
            <div class="card-footer text-center">¿No tienes una cuenta? <a href="./signOption">Registrate</a></div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="mt-4 mb-3 text-muted">© Wippo 2021</p>
        </div>
    </div>

</body>

</html>