<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet " href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Iniciar Sesion</title>
</head>

<body>
    <div class="m-5 mx-auto border-light" style="width: 40%;">
        <div class="container card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <a href="/users/principalUU"><img src="/images/logo1.png " width="160" height="120" alt=""></a>
                </div>
                <div class="d-flex justify-content-center">
                    <h4 class="card-title mb-4">Iniciar Sesión</h4>
                </div>

                <form action="/authentication/loginU" method="POST">
                    <div class="form-group p-3">
                        <label>Correo electrónico</label>
                        <input type="email" class="form-control" placeholder="Ej. john@gmail.com" name="username">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group p-3">
                        <div class="d-flex justify-content-between">
                            <label>Contraseña</label>
                            <a class="card-link" href="./recoverC">¿Has olvidado la contraseña?</a>
                        </div>
                        <input class="form-control" placeholder="*********" type="password" name="password">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group p-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-dark">Iniciar sesión</button>
                    </div>
                    <!-- form-group// -->
                </form>
            </div>
            <!-- card-body.// -->
            <div class="card-footer text-center">¿No tienes una cuenta? <a href="./signOption">Registrate</a></div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="mt-4 mb-3 text-muted">© Wippo 2021</p>
        </div>
    </div>

</body>

</html>