<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
</head>

<body>
    <div class="m-5 mx-auto border-light" style="width: 40%;">
        <div class="container card">
            <div class="card-body">
                <div class="d-flex justify-content-center"><img src="/images/logo1.png" width="190" height="140" alt="logoWippo"></div>
                <div class="d-flex justify-content-center pb-5">
                    <p class="h1 fs-3 card-title ">Recuperar Contraseña</p>
                </div>

                <div class="d-flex justify-content-center">
                    <p class=" text-center">Introduzca la dirección de correo electrónico asociado con su cuenta de Wippo.</p>
                </div>

                <form action="/authentication/sendPassword">
                    <div class="form-group p-3">
                        <label>Correo electrónico</label>
                        <input required name="Correo_Electronico" class="form-control" placeholder="ex. name@gmail.com" type="email">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group  d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-dark">Continuar</button>
                    </div>
                    <!-- form-group// -->
                </form>
            </div>
            <!-- card-body.// -->
        </div>
        <div class="d-flex justify-content-center">
            <p class="mt-4 mb-3 text-muted">© Wippo 2021</p>
        </div>
    </div>

</body>

</html>