<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
</head>

<body>
    <div class="m-5 mx-auto border-light" style="width: 50%;">
        <div class="container card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <a href="/authentication/loginU"><img src="/images/logo1.png" width="210" height="160" alt="logoWippo"></a>
                </div>
                <div class="d-flex justify-content-center pb-5">
                    <h1 class="card-title mb-4">Registrarte en Wippo</h1>
                </div>

                <form>
                    <div class="d-flex justify-content-between pt-5 pb-5">
                        <a class="btn btn-outline-dark" href="./signupV">
                            <p class="h4">Registrarse<br> como vendedor</p>
                        </a>
                        <a class="btn btn-outline-dark" href="./signupC">
                            <p class="h4">Registrarse<br> como comprador</p>
                        </a>
                    </div>
                </form>

            </div>
            <!-- card-body.// -->
            <div class="card-footer text-center">¿Ya estas registrado? <a href="./loginU">Inicia sesión</a></div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="mt-4 mb-3 text-muted">© Wippo 2021</p>
        </div>
    </div>

</body>

</html>