<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet " href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Registrarse</title>
</head>

<body>
    <div class="m-5 mx-auto border-light" style="width: 50%;">
        <div class="container card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <a href="/authentication/loginU"><img src="/images/logo1.png" width="210" height="160" alt="logoWippo"></a>
                </div>
                <div class="d-flex justify-content-center pb-5">
                    <h1 class="card-title mb-4">Registrarte en Wippo</h1>
                </div>

                <form>
                    <div class="d-flex justify-content-between pt-5 pb-5">
                        <a class="btn btn-outline-dark" href="./signupV">
                            <p class="h4">Registrarse<br> como vendedor</p>
                        </a>
                        <a class="btn btn-outline-dark" href="./signupC">
                            <p class="h4">Registrarse<br> como comprador</p>
                        </a>
                    </div>
                </form>

            </div>
            <!-- card-body.// -->
            <div class="card-footer text-center">¿Ya estas registrado? <a href="./loginU">Inicia sesión</a></div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="mt-4 mb-3 text-muted">© Wippo 2021</p>
        </div>
    </div>

</body>

</html>