<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
</head>

<body>
    <div class="m-4 mx-auto border-light" style="width: 50%;">
        <div class="card">
            <article class="card-body">
                <header class="mb-2">
                    <div class="d-flex justify-content-center">
                        <a href="/authentication/signOption"><img src="/images/logo1.png " width="140" height="100" alt=""></a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h4 class="card-title mb-4">Registro Vendedor</h4>
                    </div>
                </header>
                <form method="POST" class=" needs-validation" novalidate>
                    <!--Nombre completo-->
                    <div class="row g-3">
                        <div class="col-md-4 form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <!-- form-group end.// -->
                        <div class="col-md-4 form-group">
                            <label>Apellido Paterno</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <!-- form-group end.// -->
                        <div class="col-md-4 form-group">
                            <label>Apellido Materno</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <!-- form-group end.// -->
                    </div>
                    <!-- Correo -->
                    <div class="row g-3">
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Ej. john@gmail.com">
                        </div>
                        <!-- form-group end.// -->
                        <div class="col-md-6 form-group">
                            <label>RFC</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <!-- form-group end.// -->
                    </div>
                    <!--Contraseña-->
                    <div class="row g-3">
                        <div class="col-md-6 form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" placeholder="">
                        </div>
                        <!-- form-group end.// -->
                        <div class="col-md-6 form-group">
                            <label>Confirmar contraseña</label>
                            <input type="password" class="form-control" placeholder="">
                        </div>
                        <!-- form-group end.// -->
                    </div>

                    <div class="form-group form-row">
                        <div class="col-sm-9 ">
                            <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1"> 
                    Estoy de acuerdo con los <a href="#" target="_blank">términos y condiciones</a>
                    </label>

                        </div>
                    </div>
                    <div class="form-group p-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-dark">Registrarse</button>
                    </div>
                    <!-- form-group// -->
                </form>
            </article>
            <!-- card-body end .// -->
            <div class="card-footer text-center">¿Tienes una cuenta? <a href="./loginV">Inicia sesión</a></div>
        </div>
    </div>

</body>

</html>