<% if(message_er.length > 0) { %>
    <div class="d-flex justify-content-end pe-4">
        <div class="alert alert-danger alert-dismissible fade show alert-fixed" role="alert">
            <%= message_er %>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <% } %>

        <% if(success.length > 0) { %>

            <div class="d-flex justify-content-end pe-4">
                <div class="alert alert-success alert-dismissible fade show alert-fixed" role="alert">
                    <%= success %>
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <% } %>