<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <div class="row">
                <div class="col align-self-center col-lg-5">
                    <img src="/images/logo1.png" width="95" height="70" alt="">
                </div>
                <div class="col align-self-center">
                    <p class="fw-bold fs-4">WIPPO</p>
                </div>
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <form class="d-flex form-inline">
                        <div class="input-group">
                            <a class="input-group-text" id="basic-addon1" href="/">
                                <i fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"></i>
                            </a>
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search" aria-describedby="basic-addon1">
                        </div>

                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categorías
  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/products/category/Ropa">Ropa</a>
                        <a class="dropdown-item" href="/products/category/Electrónicos">Electrónicos</a>
                    </div>
                </li>
                <li>
                </li>
            </ul>
            <a class="nav-link text-dark fs-5" aria-current="page" href="/authentication/loginU">Iniciar Sesión</a>
        </div>
    </div>
</nav>
<!-- NAVBAR -->
</header>