<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/users/principalC">
            <div class="row">
                <div class="col align-self-center col-lg-5">
                    <img src="/images/logo1.png" width="95" height="70" alt="">
                </div>
                <div class="col align-self-center">
                    <p class="fw-bold fs-4">WIPPO</p>
                </div>
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <form action="/products" method="GET" class="d-flex form-inline">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"></i>
                            </span>
                            <input class="form-control mr-sm-2" name="search" type="search"
                                placeholder="Buscar producto" aria-label="Search" aria-describedby="basic-addon1">
                        </div>

                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/products/category/Ropa">Ropa</a>
                        <a class="dropdown-item" href="/products/category/Electrónicos">Electrónicos</a>
                    </div>
                </li>
                <li>
                </li>
            </ul>
            <%if (!user) {%>
                <a class="nav-link text-dark fs-5" aria-current="page" href="/authentication/loginU">Iniciar Sesión</a>
                <%} else {%>
                    <p class="pt-4 fw-bold">Hola,
                        <%= user.Nombre %>
                    </p>
                    <a href="/users/shoppingCartC">
                        <button class="btn "><i class="bi bi-cart-plus size"></i></button>
                    </a>
                    <div class="widget dropdown d-inline-block ">
                        <a href="#" class="text-dark icontext dropdown-toggle nav-link" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-person size align-middle"></i>
                        </a>
                        <!-- iconbox // -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/users/profileC"><i class="bi bi-person"></i> Mi perfil</a>
                            <a class="dropdown-item" href="/users/pedidosC"><i class="bi bi-bag"></i> Pedidos</a>
                            <a class="dropdown-item" href="/authentication/logout"><i class="bi bi-box-arrow-left"></i>
                                Cerrar Sesión</a>
                        </div>
                        <%}%>

                    </div>
        </div>
    </div>
</nav>