<header>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" width="80" height="70" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <form class="d-flex form-inline">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                    <i width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" ></i>
                </span>
                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search" aria-describedby="basic-addon1">
                            </div>

                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Calzado</a>
                            <a class="dropdown-item" href="#">Electrónicos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Juguetes</a>
                        </div>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
            <a class="nav-link text-dark fs-5" aria-current="page" href="#">Iniciar Sesión</a>
        </div>
    </nav>
    <!-- NAVBAR -->
</header>